:root {
    --blue: #A4DDED;
    --red: #FA8072;
    --green: #90EE90;
    --gold: #f6ed6e;

    --light-red: rgba(255,36,0,.7);
}
.board {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 95vh;
    height: 95vh;
    margin: auto;
}
.ludo {
    display: grid;
    grid-template: repeat(15, 1fr) / repeat(15, 1fr);
    height: inherit;
    width: inherit;
    border: 2px solid brown;
}
.base {
    display: grid;
    grid-template: repeat(7, 1fr) / repeat(8, 1fr);
    grid-row: 9 / -1;
    grid-column: 1 / span 8;
}
.base[class*="home"] {
    transform-origin: top right;
}
.home-one .camp, .home-one .portal {
    background: var(--gold);
}
.home-two {
    /* transform-origin: top left;
    transform: rotate(-90deg); */
    transform: rotate(-270deg) translateY(37px);
}
.home-two .camp, .home-two .portal {
    background-color: var(--green);
}
.home-three {
    /* transform: translate(87.8%, -114%);
    transform-origin: right bottom; */
    transform: rotate(-180deg) translate(37px, 37px);
}
.home-three .camp, .home-three .portal {
    background: var(--red);
}
.home-four {
    /* transform: rotate(90deg);
    transform-origin: right bottom; */
    /* translate: 102%; */
    transform: rotate(-90deg) translateX(37px);
}
.home-four .camp, .home-four .portal {
    background: var(--blue);
}
.outpost-lane, .camp {
    display: grid;
    grid-column: 1/ 7;
    grid-row: 1 / span 1;
    grid-template-columns: repeat(6, 1fr);
    outline: 1px solid thistle;
}
.cell, .window-cell {
    outline: thin solid rgba(0,0,0,.7);
}
.camp {
    grid-row: 2 / -1;
    grid-template: repeat(6, 1fr) / repeat(6, 1fr);
    outline: 2px solid maroon;
}
.window {
    display: grid;
    grid-column: 4 / span 2;
    grid-row: 2 / span 2;
    grid-template: repeat(2, 1fr) / repeat(2, 1fr);
    background-color: white;
    outline: thin solid green;
}
.exit {
    display: grid;
    grid-column: 7 / -1;
    grid-row: 1 / -1;
    grid-template: repeat(7, 1fr) / repeat(2, 1fr);
    outline: thin solid tan;
}
.lair, .portal {
    display: grid;
    grid-row: 1 / -1;
    /* border: thin solid aqua; */
}