.board {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 95vh;
    height: 95vh;
    margin: auto;
}
.ludo {
    display: grid;
    grid-template: repeat(15, 1fr) / repeat(15, 1fr);
    height: inherit;
    width: inherit;
}

.base {
    display: grid;
    grid-template: repeat(7, 1fr) / repeat(6, 1fr);
    grid-row: 9 / -1;
    grid-column: 1 / span 8;
}
.home-one {
    background: gold;
}
.home-two {
    transform-origin: top left;
    transform: rotate(-90deg);
    background-color: green;
}
.home-three {
    background: blue;
    transform: rotate(90deg);
    /* translate: 102%; */
    transform-origin: right bottom;
}
.home-four {
    transform: translate(87.8%, -114%);
    transform-origin: right bottom;
    background: red;
}
/*.outpost-lane {
    display: grid;
    grid-column: 1/-1;
    grid-row: 1 / span 1;
    grid-template-columns: repeat(6, 1fr);
    border: thin solid thistle;
}
.camp {
    display: grid;
    grid-column: 1 / -1;
    grid-row: 2 / -1;
    grid-template: repeat(6, 1fr);
    border: thin solid maroon;
}
.window {
    display: grid;
    grid-column: 4 / span 2;
    grid-row: 2 / span 2;
    grid-template: repeat(2, 1fr);
    border: thin solid green;
}
.exit {
    display: grid;
    grid-column: 7 / -1;
    grid-row: 1 / -1;
    grid-template: repeat(7, 1fr) / repeat(2, 1fr);
    border: thin solid tan;
}
.lair, .portal {
    display: grid;
    grid-row: 1 / -1;
    border: thin solid aqua;
} */